.App {
  text-align: center;


}
html { 
  background: url(../images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


input[type=text] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 2px solid white;
   color: black;
   width: 250px;
   height: 30px;
   padding-left: 10px;
}
input[type=text]:focus {
  outline: none;
  border: 2px solid #FF3366;
  background-color: white;
  color: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
button {
  background-color: #FF3366; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 2px solid white;
}

button:hover {
  background-color: #E50039; /* Green */
}
.page_wrap
{
  background-color: rgba(255, 255, 255, 0.288);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  width: 500px;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.content
{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
body
{
  text-align: center; /* required by some browsers */
}


